body {
  background: url('../images/background.jpg') fixed; 
  height: 100%;
}
html, body {
  height: 100%;
}

ul.error {
  background-color: red;
  text-align: center;
  list-style-type: none;
  margin:10px; 
  padding: 5px;
  
}



h1 {
  color: black;
  text-align: center;
}
h5{
  color: black;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
}
* {
  box-sizing: border-box;
  
}
article {
  float: center;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* header {
  background-color: rgb(144, 231, 224);
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  
  text-align: center;
  font-size: 15px;
  color: white;
  border: solid black;
} */
section::after {
  content: "";
  display: table;
  clear: both;
}

h3 {
  color: black;
  text-align: center;
}
h4 {
  color: black;
  text-align: center;
}
h2{
  text-align: center;
  }


  footer {
    left: 1;
    bottom: 0;
    width: 100%;
    background-color: rgb(144, 231, 224);
    color: white;
    text-align: center;
    border: solid black;
    float:bottom;
 }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;

}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
select {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  color: black;
  text-align: center;
}
 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid rgb(0, 0, 0);
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #ffffff; 
 } 
input[type=submit] {
  width: 75%;
  background-color: #4CAF50;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




nav ul {
  list-style-type: none;
  padding: 0;
}