<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Ukrainian_site</title>
    <link rel="stylesheet" type="text/css"  href="..\static\css\style.css">
  </head>

  </style>
  <body>
    <h1>Регистрация</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="error">
      {% for message in messages %}
        <li >{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}  
    <form method="post" action="/register" enctype=multipart/form-data>
        <h3>Введите свой никнейм(от 4 символов до 20)</h3>
        <input type='text' name='username' required>
        <h3>Введите пароль(от 6 символов до 20)</h3>
        <input type='text' name='password' required>
        <h3>Введите адрес своей електроной почты</h3>
        <input type='text'  name='email' required>
        <h3>Загрузите фотографию вашего профиля</h3>
        <input type="file" name='file'>
        <h3>Введите свой возраст</h3>
        <select name='age'>
          {%  for  i in range(1,100)  %}
          <option value = {{i}}>{{i}}</option>
          {%  endfor  %}
        </select><br><br>
        <input style='width: 40%' type='submit' value='Зарегестрироваться'>

  </body>
</html>